<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Add New Template</h4>
    </div>
    <div class="card-body">
        <form action="/addTemplate" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label class="col-form-label" for="firstname"><h5>Name of the Template</h5> </label>
                        <input type="text" class="form-control" name="name" placeholder="enter first name" id="firstname">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="addres"><h5>Template Content</h5></label>
                        <!-- <textarea class="form-control" name="template_content" id="address" rows="10" cols="30"></textarea> -->


    <div class="code-area">
        <textarea class="form-control" height="500px" width="1000px" name="template_content" placeholder="HTML Code"  id="htmlcode" oninput="showPreview()" cols="30" rows="10"></textarea>
        <!-- <textarea style="height:10%" name="" placeholder="CSS Code" id="csscode" oninput="showPreview()" cols="30" rows="10"></textarea>
        <textarea style="height:10%" name="" placeholder="JS Code" id="jscode" oninput="showPreview()" cols="30" rows="10"></textarea> -->
    </div>
    <br>
    <br>
    <br>
    <label class="col-form-label"><h5>Output</h5></label>
    <div class="preview-area">
        <iframe style="resize: both;" height="500px" width="1000px" id="preview-window"></iframe>
    </div>
    <script type="text/javascript">
        function showPreview() {
            var htmlCode = document.getElementById("htmlcode").value;
            // var cssCode = "<style>"+document.getElementById("csscode").value + "</style>";
            // var jsCode = "<scri"+"pt>" + document.getElementById("jscode").value + "</scri"+"pt>";
            var frame = document.getElementById("preview-window").contentWindow.document;
            frame.open();
            frame.write(htmlCode);
            // frame.write(htmlCode+cssCode+jsCode);
            frame.close();
        }
    </script>

                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                     <label class="col-form-label"><h5>Status</h5></label>
                     <label>
                     <input type="radio" class="form-control" name="status" value="active" placeholder="Status" id="">Active
                     </label>   

                     <label>
                     <input type="radio" class="form-control" name="status" value="inactive" placeholder="Status" id="">Inactive
                     </label>
                    </div>
                </div>
            </div>
            <div class="">
                <button style="background-color: seagreen;" type="submit" class="btn btn-success">Submit</button>
                <a href="/" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>