<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mx-auto bg-gray-200 rounded-xl shadow border p-8 m-10">
        <center>
            <p class="text-3xl text-green-700 font-bold mb-5">
                Success
            </p>
        </center>

        <p class="text-red-600 text-center font-semibold">
            Mail Has been Sent
        </p>

        <a href="/sendemail">Send More Emails</a>
    </div>

</body>

</html>